<div class="container">
  <h1 class="my-4 text-center">チケット販売</h1>

  <div class="screen-container">
    <h2 class="screen-title">スクリーン <%= @screen.id %></h2>
  </div>

  <div class="d-flex justify-content-center">
    <table class="seat-table">
      <thead class="thead-light">
        <tr>
          <th class="no-border"></th>
          <th class="no-border">1</th>
          <th class="no-border">2</th>
          <th class="no-border">3</th>
          <th class="no-border">4</th>
          <th class="no-border">5</th>
          <th class="no-border"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="no-border">A</td>
          <%= render_rows(@sheets, 'a') %>
          <td class="no-border">A</td>
        </tr>
        <tr>
          <td class="no-border">B</td>
          <%= render_rows(@sheets, 'b') %>
          <td class="no-border">B</td>
        </tr>
        <tr>
          <td class="no-border">C</td>
          <%= render_rows(@sheets, 'c') %>
          <td class="no-border">C</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
