<h1>Sheets</h1>

<div class="screen">
  <h2 class="screen-title">スクリーン n</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A</td>
        <%= render_rows(@sheets, 'a') %>
        <td>A</td>
      </tr>
      <tr>
        <td>B</td>
        <%= render_rows(@sheets, 'b') %>
        <td>B</td>
      </tr>
      <tr>
        <td>C</td>
        <%= render_rows(@sheets, 'c') %>
        <td>C</td>
      </tr>
    </tbody>
  </table>
</div>